
/* Header */


/* nav desktop synlig */
.HeaderNav{
    display: flex;
    justify-content: space-between;
}

/* nav burger usyinlig */
.headerBurger{
    display: none;
}

.HeaderUl{
    display: flex;
    gap: 20px;
    list-style-type: none;
    padding-inline-start: 0; 
}

.burgerIcon{
   display: none;
}

@media (max-width: 769px) {
    /* nav usynlig */
    .HeaderNav{
        display: none;
    }

    /* burger nav synlig */
    .burgerIcon{
        display: inline;
        height: 32px;
        width: 32px;
    }
}

